
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ranuras</h2>
<table class="table table-bordered table-hover" id="Tranuras">
    <thead>
        <tr>
            <th>IDRanura</th>
            <th>Codigo_PC</th>
            <th>Tipo_Slot</th>
            <th>Disponible</th>
            <th>IDAsignado</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var tabla = $("#Tranuras").DataTable({
                ajax: {
                    url: "/api/Ranuras",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "idRanura"
                    },
                    {
                        data: "codigo_PC"
                    },
                    {
                        data: "tipo_Slot"
                    },
                    {
                        data: "disponible"
                    },
                    {
                        data: "idAsignado"
                    }
                ]
            });
        });
    </script>
}

