
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ranuras</h2>
@Html.ActionLink("Nueva Ranura", "NewRanuras", "Ranuras", new { @class = "btn btn-info mb-3", style = "margin:1rem;" })
<table class="table table-bordered table-hover" id="Tranuras">
    <thead>
        <tr>
            <th>IDRanura</th>
            <th>Codigo_PC</th>
            <th>Tipo_Slot</th>
            <th>Disponible</th>
            <th>Eliminar</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>

        $(document).ready(function () {
            var tabla = $("#Tranuras").DataTable({
                ajax: {
                    url: "/api/Ranuras",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "idRanura",
                        render: function (data) {
                            return "<a href='/Ranuras/edit/" + data + "'>" + data + "</a>"; 
                        }
                    },
                    {
                        data: "codigo_PC"
                    },
                    {
                        data: "tipo_Slot"
                    },
                    {
                        data: "disponible"
                    },
                    {
                        data: "idRanura",
                        render: function (data) {
                            return "<button class='btn btn-danger js-delete' data-ranura-id = " + data + ">Eliminar</button>";
                        }
                    },
                    {
                        data: "idRanura",
                        render: function (data) {
                            return "<a href='/ranuras/edit/" + data + "' class = 'btn btn-success'>Editar</a>";
                        }
                    }
                ]
            });
            $("#Tranuras").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm({
                    message: "¿Seguro quiere eliminar esta ranura?",
                    size: "extra-large",
                    buttons: {
                        confirm: {
                            label: "Aceptar",
                            className: "btn-success"
                        },
                        cancel: {
                            label: "Cancelar",
                            className: "btn-danger"
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/ranuras/" + button.attr("data-ranura-id"),
                                method: "DELETE",
                                success: function () {
                                    tabla.row(button.parents("tr")).remove().draw()
                                    toastr.success("Se elimino correctamente")
                                },
                                error: function () {
                                    toastr.error("Ocurrio un error inesperado")
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}

