
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Perifericos</h2>
<table>
    <thead>
        <tr>
            <th>IDPeriferico</th>
            <th>Eliminar</th>
            <th>Editar</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>NoSerie</th>
            <th>Revisado</th>
            <th>Baja</th>
            <th>Aplicacion</th>
            <th>Expediente</th>
            <th>Comentario</th>
            <th>Disponibilidad</th>
            <th>Check_</th>
            <th>Tipo_Periferico</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

