
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Perifericos</h2>
<table class="table table-bordered table-hover" id="perifericos">
    <thead>
        <tr>
            <th>IDPeriferico</th>
            <th>Eliminar</th>
            <th>Editar</th>
            <th>Tipo_Periferico</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>NoSerie</th>
            <th>Revisado</th>
            <th>Baja</th>
            <th>Aplicacion</th>
            <th>Expediente</th>
            <th>Comentario</th>
            <th>Disponibilidad</th>
            <th>Check_</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#perifericos").DataTable({
                ajax: {
                    url: "/api/perifericos",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "idPeriferico"
                    },
                    {
                        data: "idPeriferico",
                        render: function (data) {
                            return "<button class = 'btn btn-danger js-delete' data-periferico-id = " + data + ">Eliminar</button>";
                        }
                    },
                    {
                        data: "idPeriferico",
                        render: function (data) {
                            return "<a class = 'btn btn-success' href = '/perifericos/edit/" + data + "'>Editar</a>";
                        }
                    },
                    {
                        data: "tipo_Periferico"
                    },
                    {
                        data: "marca"
                    },
                    {
                        data: "modelo"
                    },
                    {
                        data: "noSerie"
                    },
                    {
                        data: "revisado"
                    },
                    {
                        data: "baja"
                    },
                    {
                        data: "aplicacion"
                    },
                    {
                        data: "expediente"
                    },
                    {
                        data: "comentario"
                    },
                    {
                        data: "disponibilidad"
                    },
                    {
                        data: "check_"
                    }
                ]
            });
        });
    </script>
}
