
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Perifericos</h2>
@Html.ActionLink("Nuevo Periferico", "NewPerifericos", "Perifericos", new { @class = "btn btn-info mb-3", style = "margin:1rem;" })
<table class="table table-bordered table-hover" id="perifericos">
    <thead>
        <tr>
            <th>IDPeriferico</th>
            <th>Eliminar</th>
            <th>Editar</th>
            <th>Tipo_Periferico</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>NoSerie</th>
            <th>Revisado</th>
            <th>Baja</th>
            <th>Aplicacion</th>
            <th>Expediente</th>
            <th>Comentario</th>
            <th>Disponibilidad</th>
            <th>Check_</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>

        $(document).ready(function () {
            var tabla = $("#perifericos").DataTable({
                ajax: {
                    url: "/api/perifericos",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "idPeriferico"
                    },
                    {
                        data: "idPeriferico",
                        render: function (data) {
                            return "<button class = 'btn btn-danger js-delete' data-perifericos-id = " + data + ">Eliminar</button>";
                        }
                    },
                    {
                        data: "idPeriferico",
                        render: function (data) {
                            return "<a class = 'btn btn-success' href = '/perifericos/edit/" + data + "'>Editar</a>";
                        }
                    },
                    {
                        data: "tipo_Periferico",
                        render: function (data, type, row) {
                            return "<a class = 'btn btn-info' href = '/perifericos/EditTipoPeriferico/" + row.idPeriferico.trim() + "?tipoPeriferico=" + data + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "marca"
                    },
                    {
                        data: "modelo"
                    },
                    {
                        data: "noSerie"
                    },
                    {
                        data: "revisado"
                    },
                    {
                        data: "baja",
                        render: function (data) {
                            var date = new Date(data);
                            return ((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' + ((date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))) + '/' + date.getFullYear();
                        }
                    },
                    {
                        data: "aplicacion"
                    },
                    {
                        data: "expediente"
                    },
                    {
                        data: "comentario"
                    },
                    {
                        data: "disponibilidad"
                    },
                    {
                        data: "check_"
                    }
                ]
            });

            $("#perifericos").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm({
                    message: "¿Seguro que quiere eliminar este periferico?",
                    size: "extra-large",
                    buttons: {
                        confirm: {
                            label: 'Aceptar',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Cancelar',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/perifericos/" + button.attr("data-perifericos-id"),
                                method: "DELETE",
                                success: function () {
                                    tabla.row(button.parents("tr"))
                                        .remove()
                                        .draw()
                                    toastr.success("Se elimino correctamente")
                                },
                                error: function () {
                                    toastr.error("Ocurrio un error inesperado")
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}
