@model IPSAInventario.ViewModels.BitacoraFormViewModel
@{
    ViewBag.Title = "BitacoraForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BitacoraForm @Model.IDBitacora @Model.Codigo_PC</h2>

