@model IEnumerable<IPSAInventario.Models.Factura>

@{
    ViewBag.Title = "Factura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Facturas</h2>
<table class="table table-bordered table-hover" id="facturas">
    <thead>
        <tr>
            <th>IDFactura</th>
            <th>Proveedor</th>
            <th>Vendedor</th>
            <th>Factura</th>
            <th>Fecha de compra</th>
            <th>Requisicion</th>
            <th>Descripcion</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <!--Se agrega la funcionalidad del boton eliminar-->
    <script>
        $(document).ready(function () {
            //Estilo de tabla actualizado
            $("#facturas").DataTable({
                //Consulta la api para conseguir la informacion en formato json y acelerar las consultas
                ajax:{
                    url: "/api/factura", //Consulta la API
                    dataSrc: ""//El array en tipo FacturaDto en otras palabras se retorna un arreglo de objetos por eso no especificamos el dataSrc
                },
                //Especifica las columnas que se agregaran en la tabla
                columns: [
                    {
                        data: "idFactura",
                        //Al encontrar la propiedad idFactura en json renderiza el codigo html con sus propiedades de columna
                        render: function (data, type, factura) {
                            return "<a href='/factura/edit/" + factura.idFactura + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "idProveedor"
                    },
                    {
                        data: "vendedor"
                    },
                    {
                        data: "factura1",
                        render: function (data, type, factura) {
                            return "FACTURA";
                        }
                    },
                    {
                        data: "fecha_Compra",
                        render: function (data) {
                            var date = new Date(data);
                            return ((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' + ((date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))) + '/' + date.getFullYear();
                        }
                    },
                    {
                        data: "requisicion",
                        render: function (data, type, factura) {
                            return "Requisicion";
                        }
                    },
                    {
                        data: "descripcion"
                    },
                    {
                        //Columna de boton eliminar
                        data: "idFactura",
                        render: function (data) {
                            return "<button class = 'btn-link js-delete' data-factura-id = " + data + ">Eliminar</button>";
                        }
                    }
                ]
            });

            $("#facturas").on("click",".js-delete", function () {
                var button = $(this);//Hace referencia al DOM Body del html
                //Crea un bootbox y hace la confirmacion
                bootbox.confirm("¿Seguro quieres eliminar esta Factura?", function (result) {
                    if (result) {
                        //Elimina la factura con la api y elimina el renglon en el html
                        $.ajax({
                            url: "/api/factura/" + button.attr("data-factura-id"),
                            method: "DELETE",
                            success: function () {
                                button.parent(tr).remove();
                            }
                        });
                    }
                })
            })
        });
    </script>
}

